{% macro email(username) %}
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" class="active validate" required autofocus
        value="{{ username|default('') }}"
        placeholder="example@host.com"
        title="example@host.com" />
    <span class="helper-text" data-error="Invalid Email" data-success="ðŸ‘"></span>
{% endmacro %}
{% macro password() %}
    {{ encore_entry_link_tags('password-visibility') }}
    {% set criteria = '8 characters, including Uppercase, Lowercase, Numbers, and Symbols' %}
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required
        minlength="8"
        placeholder="Supports unicode and space characters"
        pattern="(?=.*\p{Ll}+)(?=.*\p{Lu}+)(?=.*(?:\p{P}|\p{S})+)(?=.*\p{Nd}+).{8,}"
        title="{{ criteria }}" />
    <button class="toggle-password-visibility fas fa-eye" data-target-selector="#password" type="button"></button>
    <span class="helper-text">
        At least {{ criteria }}
    </span>
    {{ encore_entry_script_tags('password-visibility') }}
{% endmacro %}
