{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user-create') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-create') }}
{% endblock %}

{% block pageContext %}- New Account{% endblock %}

{% block body %}
    <div id="form-errors"></div>
    <form id="account-details" method="post" action="{{ path('account.create.save') }}">
        <div class="row">
            <div class="col s12">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="active validate" required autofocus
                    placeholder="example@host.com"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    title="example@host.com" />
                <span class="helper-text" data-error="Invalid Email" data-success="ðŸ‘"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" />
            </div>
            <div class="col s6">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" />
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required
                    minlength="8"
                    placeholder="Supports unicode and space characters"
                    pattern="(?=.*\p{Ll}+)(?=.*\p{Lu}+)(?=.*(?:\p{P}|\p{S})+)(?=.*\p{Nd}+).{8,}"
                    title="8 character, including Uppercase, Lowercase, Numbers, and Symbols" />
                <span class="helper-text" data-error="wrong" data-success="right">
                    At least 8 character, including Uppercase, Lowercase, Numbers, and Symbols
                </span>
            </div>
        </div>
        <button id="create-btn" type="submit" class="btn right">Create</button>
    </form>
{% endblock %}
