{% extends 'base.html.twig' %}
{% import "account/inputs.html.twig" as accountInputs %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user-create') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-create') }}
{% endblock %}

{% block pageContext %}- New Account{% endblock %}

{% block body %}
    <div id="form-errors"></div>
    <form id="account-details" method="post" action="{{ path('account.create.save') }}">
        <div class="row">
            <div class="input-field col s12 m6">
                {{ accountInputs.email() }}
            </div>
            <div class="input-field col s12 m6">
                {{ accountInputs.password({'required': true, 'showHints': true}) }}
            </div>
        </div>
        <input id="token" type="hidden" name="_csrf_token" value="{{ csrf_token('user-create') }}" />
        <button id="create-btn" type="submit" class="btn right">Create</button>
    </form>
{% endblock %}
