{% import "account/inputs.html.twig" as accountInputs %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8' />
    <meta name= 'viewport' content = 'width = device-width' />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Note'd Storage - Login</title>
    {{ encore_entry_link_tags('oauth-login') }}
    {# <link rel="stylesheet" crossorigin="anonymous"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" /> #}
</head>
<body>
    <main>
        <p>
            By logging in, you are authorizing the application to gain access to your account, and account data.
            To reject, please click the Cancel link, to return to the application site.
        </p>
        <form method="post" class="row" id="form-login">
            <div class="col s12">
                <div class="input-field col s12 m6">
                    {{ accountInputs.email() }}
                </div>
                <div class="input-field col s12 m6">
                    {{ accountInputs.password() }}
                </div>
                <div class="row col s12">
                    <div class="right">
                        <button id="login" type="submit" class="btn">login</button>
                        <input id="_csrf_token" type="hidden" name="_csrf_token" value="{{ csrf_token(crsfId) }}" />
                        <input id="referrer" type="hidden" name="referrer" value="{{ referrer }}" />
                    </div>
                </div>
            </div>
        </form>
        <div>
            <button type="button" class="btn" id="cancel" onclick="window.close()">
                Cancel
            </button>
        </div>
    </main>
    {{ encore_entry_script_tags('oauth-login') }}
</body>
</html>
